*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.calculator-body {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}

.btn-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,80px);
}

.screen {
    margin: 10px;
    width: 320px;
    height: 150px;
    background-color: greenyellow;
}

.span-two {
    grid-column: span 2;
}

button {
    border: 1px solid black;
}